<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_00.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_01.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_02.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_04.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{3420,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_09.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang2.png</string>
            <key>size</key>
            <string>{3990,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1384ccc88cb6662de55781662fa1e29:25ba2a4b8bb28042602e992baf34d859:f5a468131c8a8d77bee1af4339cac472$</string>
            <key>textureFileName</key>
            <string>baoxiang2.png</string>
        </dict>
    </dict>
</plist>
