<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_01.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_02.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{3420,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_09.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang1.png</string>
            <key>size</key>
            <string>{3990,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b6a4957051f10a3d9c8292d8a2feee:29ccc1ce9655e7e73c0270fdc830b5a7:32badb6ecb35f30720ef55a3ef7a2659$</string>
            <key>textureFileName</key>
            <string>baoxiang1.png</string>
        </dict>
    </dict>
</plist>
