<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_00.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_01.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_02.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_04.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{3420,0},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{0,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{570,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_09.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1140,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{1710,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2280,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,463}</string>
                <key>spriteSourceSize</key>
                <string>{570,463}</string>
                <key>textureRect</key>
                <string>{{2850,463},{570,463}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baoxiang3.png</string>
            <key>size</key>
            <string>{3990,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a05d69ed816f897b3dfefb881846d2:4f3139e4bcd53a3338eb3144ddab313c:8f91651909dcbf7e562c7aa7640205f5$</string>
            <key>textureFileName</key>
            <string>baoxiang3.png</string>
        </dict>
    </dict>
</plist>
