<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,17}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{48,0},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_04.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{134,0},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_05.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,4}</string>
                <key>spriteSize</key>
                <string>{276,276}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{542,0},{276,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_06.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,8}</string>
                <key>spriteSize</key>
                <string>{404,412}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1526,0},{404,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,8}</string>
                <key>spriteSize</key>
                <string>{348,348}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{818,0},{348,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,21}</string>
                <key>spriteSize</key>
                <string>{360,364}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1166,0},{360,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_09.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,25}</string>
                <key>spriteSize</key>
                <string>{404,412}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{0,412},{404,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_10.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,29}</string>
                <key>spriteSize</key>
                <string>{464,460}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{404,412},{464,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_11.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,33}</string>
                <key>spriteSize</key>
                <string>{534,508}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1392,412},{534,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_12.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{524,452}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{868,412},{524,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_13.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-17}</string>
                <key>spriteSize</key>
                <string>{580,486}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{586,920},{580,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_14.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,8}</string>
                <key>spriteSize</key>
                <string>{636,470}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{0,1420},{636,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_15.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,27}</string>
                <key>spriteSize</key>
                <string>{694,460}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1296,1420},{694,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_16.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,25}</string>
                <key>spriteSize</key>
                <string>{762,496}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1246,1890},{762,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_17.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,5}</string>
                <key>spriteSize</key>
                <string>{580,500}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{1166,920},{580,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_18.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,4}</string>
                <key>spriteSize</key>
                <string>{610,542}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{636,1890},{610,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_19.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{66,-36}</string>
                <key>spriteSize</key>
                <string>{636,508}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{0,1890},{636,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_20.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-81}</string>
                <key>spriteSize</key>
                <string>{660,456}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{636,1420},{660,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_21.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,-88}</string>
                <key>spriteSize</key>
                <string>{586,476}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{0,920},{586,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_22.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-151}</string>
                <key>spriteSize</key>
                <string>{244,302}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{298,0},{244,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_23.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-247}</string>
                <key>spriteSize</key>
                <string>{48,110}</string>
                <key>spriteSourceSize</key>
                <string>{898,840}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>金币.png</string>
            <key>size</key>
            <string>{2008,2432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82aa24f26afce25b64c3aa742e786610:a4305ff31d326144079a9850db83ad64:ee3ff247d2d99c4efcf54d00b42d9a45$</string>
            <key>textureFileName</key>
            <string>金币.png</string>
        </dict>
    </dict>
</plist>
